
*{
margin:0;
padding:0;
}

body{
background:black;
color:white;
}

#header{
    width:100;
    height:110vh;
    background-image: url(smart\ lucky.jpeg);
    background-size:cover;
    background-position:center;
}
#logo{

    height:15vh;
    margin-left:-120px;
  
}
.container{
    padding: 10px 10%;
}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}
.navelement{
  width:150px;
}
nav ul li{
    display: inline-block;
    list-style:none;
    margin:10px 15px 32px 13px;
   /* padding-right:30px;*/

}

nav ul li a{
        color:white;    
        text-decoration:none;
     font-size:20px;
     position:relative;
     display:inline-block; 
    list-style: 1;
    padding-bottom:2px;
   

}

nav ul li a::after {
    content:'';
    width:0;            /* width: 100%; we also use this , but when we want to add effect on it then remove the width*/
    height: 3px;
    background:red;
    position: absolute;
    left:50%;
    transform:translate(-50%);
    bottom:0px;
    transition:0.5s;
}
nav ul li a:hover::after{
    width: 100%;
  
}

.headertext{
    margin-top:4%;
    font-size:18px;
}

.headertext p{
    font-size:25px;
    color:red;

}
.headertext h1{
    font-size:50px;
    margin-top:20px;
}
.headertext h1 span{
    color:red;
}


/* ------------About----------- */

#about{
    padding:80px 0px;
    color:gray;

}

.row{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.about-colume-1{
    flex-basis: 35%;
}
.about-colume-1 img{
    height:500px;
    border-radius:15px;
}
.about-colume-2{
    flex-basis: 60%;
}

.aboutme{
    font-size:40px;
    font-weight:600px;

}

.tab-titles{
display:flex;
margin:20px 0 40px;
}
.tab-links{
    font-size:30px;
    margin-right:40px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
   
}
.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background:rgb(226, 35, 67);
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s;

}
/* fot skills */
.tab-links.active-link::after{
    width:50%;

}

.tab-contents ul li{
    padding:7px;
   
    list-style:none;
    margin: 10px 0;
    

}
.tab-contents ul li span{
    color:rgb(245, 46, 79);
    font-size:18px;
}

/* for effect */
.tab-contents{
    display:none;
}

.tab-contents.active-tab{
    display:block;
}

/*  -------------------Services---------------------  */


#services{
    padding:30px 0;

}


.services-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.services-list div{
    background:rgb(33, 33, 33);
    padding:25px;
    border-radius:10px;
    font-size:15px;
    font-weight:500;
}

.services-list div i{
    margin-bottom:15px;
    font-size:25px;
}

.services-list div h2{
    padding-bottom:10px;
    color:rgb(223, 211, 211);
}
  
.services-list div a{

    text-decoration:none;
    color:rgba(46, 204, 162, 0.352);
    font-size:20px;
    margin:20px 0 0 0;
    /* display: inline-block; */
}

.services-list div {
    transition:background 0.5s, transform 0.5s;
}
.services-list div:hover{
    background:rgb(245, 25, 61);
    transform:translateY(-10px);
}

/* <!-- ------------------portfolio--------------------- --> */

#portfolio{
    padding:50px 50px 50px 0px;
}

.work-list{
       display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;

}
.work{
    border-radius: 10px;
    position:relative;
    overflow: hidden;
}

.work img{
    width:100%;
    border-radius: 13px 13px 13px 13px ;
    height: 300px;
    display: block;
    /* width:400px; */
    /* display:flex; */
    /* justify-content: center; */
    /* gap: 20px; */
    /* padding-bottom:10px; */
     /* background:rgb(33, 33, 33); */
    /* padding:25px; */
    /* border-radius:10px; */
}

.layer{
    width: 100%;
    height:100%;
    background:linear-gradient(rgba(0,0,0,0.6),rgb(252, 36, 36));
    border-radius:10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 3px 0px -2px;
    text-align:center;
}
.layer h3{
    padding:7px ;
    color:rgb(239, 242, 239)
    /* font-size:6px; */
}
.layer p{
    padding:6px ;
    /* text-decoration:none; */
    font-size:13px;
    margin-left:5px;
    color:rgb(226, 236, 231)
}
.work{
    transition: 0.5s;
}
.work:hover{
 
    transform:translateY(-5px);
}
